html, body {
	padding: 0;
	margin: 0;
}

body {
	background: #232323;
	font-family: "Montserrat", "Avenir";
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: bold;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all .4s;
	--webkit-transition: all .4s;
	--moz-transition: all .4s;
	outline: none;
}

button:hover {
	color: white;
	background: steelblue;
}

h1 {
	text-align: center;
	line-height: 1.1;
	color: white;
	background: steelblue;
	margin: 0;
	padding: 20px 0;
	font-weight: normal;
	text-transform: uppercase;
}

#gameDiscrip {
	font-size: .4em;
}

#hiddenDisplay {
	display: inline-block;
	width: 20%;
}

#colorDisplay {
	font-size: 200%;
	color: white;
}

#info-bar {
	height: 30px;
	width: 100%;
	background: white;
	text-align: center;
	padding-botton: 30px;
	margin-bottom: 50px;

}

#container {
	max-width: 600px;
	margin: 0 auto;

}

.square {
	width: 30%;
	background: blue;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background .5s;
	--webkit-transition: background .5s;
	--moz-transition: background .5s;
}

.selected {
	background: steelblue;
	color: white;
}

